.blue .state-background {
  background: rgba(22,152,213,.6);
}

.blue h2 {
  color: #ffffff;
}

.blue ul li {
  color: #ffffff;
}

.movile .state-background {
  background: #ffffff url(movile-logo.png) no-repeat fixed top right;
}

.movile ul li {
  background-color: rgba(255,255,255,0.9);
  color: #000;
  font-size: 90%;
}

.movile h2 {
  color: #000000;
}
